{% trans_default_domain 'messages' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="cell medium-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 medium-cell-block-y text-center h2">{{ 'Settings: Basic'|trans }}</div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="cell medium-cell-block-container">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-4 ">
                {{ form_row(form.roomCount) }}
                <a href="{{ path('rooms') }}" title="{{ 'Manage Room Details'|trans }}">{{ 'Manage Room Details'|trans }}</a>
            </div>
            <div class="cell medium-4">
                {{ form_row(form.dayCount) }}
                <a href="{{ path('days') }}" title="{{ 'Manage Day Details'|trans }}">{{ 'Manage Day Details'|trans }}</a>
            </div>
            <div class="cell medium-4">
                {{ form_row(form.gradeCount) }}
                <a href="{{ path('grades') }}" title="{{ 'Manage Grade Details'|trans }}">{{ 'Manage Grade Details'|trans }}</a>
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-4">
                {{ form_row(form.roomCapacity) }}
            </div>
            <div class="cell medium-4">
                {{ form_row(form.periods) }}
            </div>
            <div class="cell medium-4 align-flex-center">
                {{ form_row(form.studentsPerGrade) }}
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.staffCount) }}
                <a href="{{ path('staff') }}" title="{{ 'Manage Staff Details'|trans }}">{{ 'Manage Staff Details'|trans }}</a>
            </div>
            <div class="cell medium-4 medium-cell-block-y">
                <a href="{{ path('class_details') }}" title="{{ 'Manage Class Details'|trans }}">{{ 'Manage Class Details'|trans }}</a>
            </div>
            {% if getManager().isReadyToMap %}
                <div class="cell medium-4 medium-cell-block-y">
                    <a href="{{ path('lines') }}" title="{{ 'Manage Line Details'|trans }}">{{ 'Manage Line Details'|trans }}</a>
                </div>
            {% endif %}
        </div>
        {% if getManager().isReadyToMap %}
            <div class="grid-x grid-margin-x grid-padding-x">
                <div class="cell medium-12 medium-cell-block-y callout secondary">
                    {{ 'timetable_ready'|trans }}
                </div>
            </div>
        {% endif %}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-offset-4 medium-4 medium-cell-block-y align-flex-center">
                <a href="{{ path('lines') }}" class="button secondary" title="{{ 'Manage Line Details'|trans }}">{{ 'Manage Line Details'|trans }}</a>
            </div>
            <div class="cell medium-4 medium-cell-block-y align-flex-center">
                {{ form_row(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
