{% trans_default_domain 'messages' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="cell medium-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 medium-cell-block-y text-center h2">{{ 'Settings: Periods'|trans }}</div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="cell medium-auto medium-cell-block-container">
        {% for key,period in form.periods %}
            <div class="grid-x grid-margin-x grid-padding-x">
                <div class="cell medium-3 medium-cell-block-y">
                    {{ form_row(period.name) }}
                    {{ form_row(period.id) }}
                </div>
                <div class="cell medium-3 medium-cell-block-y">
                    {{ form_row(period.sequence) }}
                </div>
                <div class="cell medium-3 medium-cell-block-y">
                    {{ form_row(period.doubleWith) }}
                </div>
                <div class="cell medium-3 medium-cell-block-y align-flex-center">
                    <a href="{{ path('period_delete', {'period': period.id.vars.value}) }}" class="warning button" title="{{ 'Delete Period'|trans }}">{{ 'Delete Period'|trans }}</a>
                </div>
            </div>
        {% endfor %}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('period_add') }}" class="button secondary" title="{{ 'Add Period'|trans }}">{{ 'Add Period'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('period_remove') }}" class="button secondary" title="{{ 'Remove Period'|trans }}">{{ 'Remove Period'|trans }}</a>
            </div>
            <div class="cell medium-offset-4 medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('basic_settings') }}" class="button" title="{{ 'Update Basic Settings'|trans }}">{{ 'Settings: Basic'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                {{ form_row(form.savePeriods) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
