{% trans_default_domain 'messages' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="cell shrink medium-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 medium-cell-block-y text-center h2">{{ 'Settings: Line Details'|trans }}</div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="cell medium-auto medium-cell-block-container striped">
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.id) }}
                {{ form_row(form.name) }}
            </div>
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.grades) }}
            </div>
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.classCount) }}
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.days) }}
            </div>
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.periods) }}
            </div>
            <div class="cell medium-4 medium-cell-block-y">
                {{ form_row(form.placementCount) }}
            </div>
        </div>
        {% dump(form.classes) %}
        {% if form.classes|length > 0 %}
            <div class="grid-x grid-margin-x grid-padding-x">
                <div class="cell medium-12 medium-cell-block-y text-center h3">
                    {{ 'Classes in Line'|trans }}
                </div>
            </div>
            <div class="grid-x grid-margin-x grid-padding-x">
                <div class="cell medium-4 medium-cell-block-y text-center expanded callout secondary">
                    {{ 'Class Name'|trans }}
                </div>
                <div class="cell medium-4 medium-cell-block-y text-center expanded callout secondary">
                    {{ 'Capacity'|trans }}
                </div>
            </div>
            {% set capacity = getManager().getCapacityWarning(form.vars.value) %}
            {% if capacity.message is not same as('no_test') %}
                {% set className = 'warning' %}
                {% if capacity.message is same as('correct') %}{% set className = 'success' %}{% endif %}
                <div class="grid-x grid-margin-x grid-padding-x">
                    <div class="cell medium-12 medium-cell-block-y callout expanded {{ className }}">
                        {{ 'line_capacity_message'|trans(capacity) }}
                    </div>
                </div>
            {% endif %}
            {% for key,item in form.classes %}
                {% dump(item) %}
                <div class="grid-x grid-margin-x grid-padding-x">
                    <div class="cell medium-2 medium-cell-block-y">
                        {{ form_widget(item.id) }}
                        {{ form_widget(item.name) }}
                    </div>
                    <div class="cell medium-2 medium-cell-block-y">
                        {{ form_widget(item.capacity) }}
                    </div>
                    <div class="cell medium-8 medium-cell-block-y align-flex-center">
                        <a href="{{ path('class_details', {line: getManager().line.id}) }}" class="button success" title="{{ 'Class Details'|trans }}">{{ 'Class Details'|trans }}</a>
                        <a href="{{ path('class_delete', {'class': item.id.vars.value, line: getManager().line.id}) }}" class="warning button" title="{{ 'Delete Class'|trans }}">{{ 'Delete Class'|trans }}</a>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% do form.classes.setRendered %}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('line_add', {line: getManager().line.id}) }}" class="button secondary" title="{{ 'Add Line'|trans }}">{{ 'Add Line'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('line_remove', {line: getManager().line.id}) }}" class="button secondary" title="{{ 'Remove Line'|trans }}">{{ 'Remove Line'|trans }}</a>
            </div>
            <div class="cell medium-offset-2 medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('basic_settings') }}" class="button" title="{{ 'Update Basic Settings'|trans }}">{{ 'Settings: Basic'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('lines') }}" class="button" title="{{ 'Manage Lines'|trans }}">{{ 'Manage Lines'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                {{ form_row(form.saveLine) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
