{% trans_default_domain 'messages' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="cell shrink medium-cell-block-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 medium-cell-block-y text-center h2">{{ 'Settings: Lines'|trans }}</div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="cell medium-auto medium-cell-block-container striped">
        {% for key,line in form.lines %}
            <div class="grid-x grid-margin-x grid-padding-x">
                <div class="cell medium-2 medium-cell-block-y align-flex-center h4 justify-left">
                    {{ line.name.vars.value|default('New Line'|trans) }}
                </div>
                <div class="cell medium-3 medium-cell-block-y">
                    {{ form_row(line.name) }}
                    {{ form_row(line.id) }}
                </div>
                <div class="cell medium-3 medium-cell-block-y">
                    {{ form_row(line.grades) }}
                </div>
                <div class="cell medium-4 medium-cell-block-y align-flex-center">
                    <a href="{{ path('line_details', {line: line.id.vars.value}) }}" class="success button" title="{{ 'Details'|trans }}">{{ 'Details'|trans }}</a>
                    <a href="{{ path('line_delete', {line: line.id.vars.value}) }}" class="warning button" title="{{ 'Delete Line'|trans }}">{{ 'Delete Line'|trans }}</a>
                </div>
            </div>
        {% endfor %}
        {% do form.lines.setRendered %}
        <div class="grid-x grid-margin-x grid-padding-x">
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('line_add') }}" class="button secondary" title="{{ 'Add Line'|trans }}">{{ 'Add Line'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('line_remove') }}" class="button secondary" title="{{ 'Remove Line'|trans }}">{{ 'Remove Line'|trans }}</a>
            </div>
            <div class="cell medium-offset-4 medium-2 medium-cell-block-y align-flex-center">
                <a href="{{ path('basic_settings') }}" class="button" title="{{ 'Update Basic Settings'|trans }}">{{ 'Settings: Basic'|trans }}</a>
            </div>
            <div class="cell medium-2 medium-cell-block-y align-flex-center">
                {{ form_row(form.saveLines) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
