{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-language" content="{{ locale|default('en') }}" data-react-helmet="true" />
        <meta name="author" content="Craig Rayner, Hill Range Services"/>
        <meta name="robots" content="none"/>
        <meta name="Referrer‐Policy" value="no‐referrer | same‐origin"/>
        <title>{% block title %}Timetable Creator!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/foundation.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-y medium-grid-frame">
                {% block header %}
                    <div class="cell shrink header medium-cell-block-container text-center h1">{{ 'Timetable Creator by Craig Rayner'|trans }}</div>
                {% endblock header %}
                {% include 'flash.html.twig' %}
                {% block body %}{% endblock body %}
                {% block footer %}
                    <div class="cell shrink footer">
                        <div class="grid-x grid-padding-x grid-margin-y">
                            <div class="cell medium-4 medium-cell-block-y text-left"></div>
                            <div class="cell medium-4 medium-cell-block-y text-center">{{ 'Created by'|trans }} Craig Rayner<br />
                            &copy; 2020
                            </div>
                            <div class="cell medium-4 medium-cell-block-y align-flex-center">
                                {% if app.request.session.get('timetable_name')|default('') is not same as('') %}
                                    <a class="button primary" type="button" href="{{ path('download') }}">{{ 'Download Timetable File'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endblock footer %}
            </div>
        </div>
        {% block javascripts %}
            <script src="js/vendor/jquery.js"></script>
            <script src="js/vendor/what-input.js"></script>
            <script src="js/vendor/foundation.min.js"></script>
            <script src="js/app.js"></script>
        {% endblock javascripts %}
    </body>
</html>
